<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VUE component test</title>
	<script src="./js/vue.js"></script>
</head>
<body>
	<div id="app1">
		<arrow></arrow>
	</div>
	<div id="app2">
		<input type="text" v-model="totr">
		<ch>3333</ch>
		<table>
			<tr is="my-row" v-bind:tr-msg="totr"></tr>
			<!--特定元素下要用is,v-bind可以把值当成表达式来计算-->
		</table>
		<some is="active">出售</some>
		<active>出租</active>
	</div>
	<div id="app3">
		<keep-alive>
		<p>{{total}}</p>
		</keep-alive>
		<btn-count v-on:increment="incrementTotal"></btn-count>
		<btn-count v-on:increment="incrementTotal"></btn-count>
		<btn-count v-on:increment="incrementTotal"></btn-count>
	</div>
	<div id="app4">
		<h1>每月新增数据统计</h1>
		  <my-component>
		  	<h1 slot="head">管理员</h1>
		    <p>最新成交套数</p>
		    <p>成交均价</p>
		    <span slot="footer">业务员</span>
		  </my-component>
	</div>
	<div id="app5">
		<div v-if="seen">aaa</div>
		<custom :msg="'cus_msg'" v-on:cuse="move">
			<img class="gitpic" slot="img" src="./images/git_tip.jpg" alt="">
		</custom>
	</div>
	<script>
		//全局用组件，创建根实例后才能使用
		Vue.component("arrow",{
			template: '<div>a custom arrow=></div>'
		})
		new Vue({
			el: "#app1"
		})
		//局部模板
		var child = {
			template: "<div><div>a child div</div><slot></slot></div>"
		}
		var app2 = new Vue({
			el: "#app2",
			data:{
				totr: "平米",
				view: "active"
			},
			components: {
				"ch": child,
				"my-row": {
					props: ["trMsg"],//使用props传递数据
					template: "<div>80m² + {{trMsg}}</div>"
				},
				"active": {
					template: "<button v-on:click='count +=1'>{{count}}</button>",
					data: function(){
						return {
							count : 0
						}
					}
				}
			}
		})
		//自定义事件绑定
		var app3 = new Vue({
			el: "#app3",
			data: {
				total: 0
			},
			methods: {
				incrementTotal: function(){
					this.total += 1;
				}
			},
			components: {'btn-count':{
				template: "<button v-on:click='increment'>{{counter}}</button>",
				data: function(){
					return {
						counter: 0
					}
				},
				methods: {
					increment: function(){
					this.counter += 1;
					this.$emit("increment");
				}}
			}}
		})
		//命名slot的名称
		var app4 = new Vue({
			el: "#app4",
			components : {
				"my-component": {
					props: ['text'],
					template: '<div><slot name="head"></slot>-<h2>我是子组件的标题</h2>-<slot></slot>-<slot name="footer"></slot></div>'
				}
			}
		})
		//编写可复用的组件
		var app5 = new Vue({
			el: "#app5",
			data:{
				seen: true
			},
			methods: {
				move: function(){
					console.log(1111);
				}
			},
			components: {
				"custom": {
					template:"<div><p @click='add'>details——'{{details}}'</p><p @click='show'>list——{{list}}</p><slot name='img'></slot></div>",
					props: ['msg','text'],
					data: function(){
						return {
							details: true,
							list: true
						}
					},
					methods: {
						add: function(){
							console.log(this.msg);
						},
						show: function(){
							this.$emit("cuse");
						}
					}
				}
			}
		})

		console.log(app5.seen);
	</script>
</body>
</html>