<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vue Test</title>
	<script src="./js/vue.js"></script>
</head>
<body>
	<div>
	0 123456789
	A|F G A BC D E	12
	B|C D EF G A BC	10		
	G| A BC D EF G	7
	D| EF G A BC D	5
	A| BC D EF G A	2
	E|F G A BC D EF	0
	</div>
	<div id="app1">
		<p v-if="seen" v-bind:class="{active:isActive}">{{Console}}</p>
		<div v-bind:id="dynamicId"></div>
		<a :href="url">anothod url</a>
		<my></my>
		<my1 v-bind:size="2+1"></my1>
		<my1></my1>
	</div>
	<ul id="exp1">
		<li v-for="(item, index) of items">
			{{index}}--{{item.message}}
		</li>
	</ul>
	<div id="exp2">
		<input type="text" v-model.lazy="info">
		<p>this is {{info}}</p>
		<input type="checkbox" v-model="check" value="ck1">
		<input type="checkbox" v-model="check" value="ck2">
		<input type="checkbox" v-model="check" value="ck3">
		<p>check is {{check}}</p>
		<select name="test" v-model="select" multiple id="">
			<option v-for="v in options" v-bind:value="v.value">{{v.text}}</option>
		</select>
		<p>select is {{select}}</p>
	</div>
	<div id="app3">
		<h1 v-if="ok" v-on:click="change('1111',$event)">Yes</h1>
		<h2 v-else v-on:click="change('2222',$event)">No</h2>
	</div>
	<script>
		var child = {
			template: '<div>a custom ele</div>'
		}
		

		var app1 = new Vue({
			el: "#app1",
			data: {
				seen: true,
				message: '<h1>第一个应用</h1>',
				dynamicId: 'app2',
				url: 'javascript:;',
				isActive:false
			},
			computed: {
				Console: function(){
					return(Date.now());
				}
			},
			components: {
				'my': child,
				"my1":{
					props: ['size'],
					template: '<div v-on:click="message += 1">{{message}}--{{size}}--{{normalizedSize}}</div>',
					data: function(){
						return {
							message: this.size
						}
					},
					computed: {
						normalizedSize: function(){
							return this.size;
						}
					}
				}
			}
		})
		var exp1 = new Vue({
			el: "#exp1",
			data: {
				items: [
					{message: "foo"},
					{message: "Bar"}
				]
			}
		})
		var exp2 = new Vue({
			el: "#exp2",
			data: {
				info: "info",
				check: [],
				options: [{text:"a",value:"1"},
						  {text:"b",value:"2"},
						  {text:"c",value:"3"},
						  {text:"d",value:"4"}],
				select: [4]
				}
		})
		var app2 = new Vue({
			el: "#app3",
			data: {
				ok: true
			},
			methods:{
				change: function(num,event){
					if(this.ok){
						this.ok = false;
					}else{
						this.ok = true;
					}
					console.log(num,event.target.innerHTML);
				}
			}
		})
	</script>
</body>
</html>